/* ----- EDIT PROFILE ----- */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bfc9d1;
}

form {
    width: 50%;
}

.title_container {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.title_container h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #4C4C47;
    margin: 0;
}

.edit_profile {
    text-align: center;
}

.edit_content {
    display: inline-block;
}

form h3 {
    color: #4C4C47;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 12px;
    display: inline-block;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 3px 3px;
    box-sizing: border-box;
}

.input_container {
    padding-bottom: 1.5em;
}

.link_container>a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #4C4C47;
}

.link_container {
    padding-bottom: 1em;
}

.button_container>button {
    background-color: #FE5F55;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    opacity: 0.8;
}

form button:hover {
    opacity: 1;
    cursor: pointer;
}

.button_container {
    width: 50%;
    margin: auto;
}

.image_container {
    font-family: Arial, Helvetica, sans-serif;
    color: #4C4C47;
    text-align: center;
    margin-bottom: 20px;
}

.edit_image {
    text-align: left;
    margin: auto;
}

.edit_profile h3 {
    text-align: left;
}

/* ----- CHANGE PASSWORD ----- */

.change_password h3 {
    text-align: center;
}

.change_password {
    text-align: center;
}

