html {
    background-color: #bfc9d1;
}

body {
    margin: 0;
}

/* ----- HEADER ----- */ 

body>header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 0 12px;
}

body>header button {
    background-color: #FE5F55;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 1em;
    border-radius: 5px;
    border: none;
    opacity: 0.8;
}

body>header button:hover {
    opacity: 1;
    cursor: pointer;
}

body>header h1 {
    color: #4C4C47;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 1em;
    text-decoration: none;
}

body>header a {
    text-decoration: none;
}

#menu li {
    background-color: white;
    list-style-type: none;
}

/* ----- FOOTER ----- */

body>footer {
    background-color: white;
    color: #4C4C47;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    height: 1em;
}

body>footer p {
    margin: 0;
    font-size: small;
}

/* ----- SECTIONS ----- */

section {
    box-shadow: 1px 1px rgb(180, 180, 180);
    border-radius: 2px;
}

/* ===== CREATE POST ===== */

#create_post button {
    background-color: #FE5F55;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    border-radius: 5px;
    border: none;
    opacity: 0.8;
    text-align: center;
    width: 70%;
}

#create_post button:hover {
    opacity: 1;
    cursor: pointer;
}

#create_post .button {
    text-align: center;
}

#create_post p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 15px;
    text-align: justify;
    text-justify: inter-word;
}

/* ===== POST ===== */

#post a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #FE5F55;
    font-weight: bold;
}

#post h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
}

#post p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    text-align: justify;
    text-justify: inter-word;
}

#post footer {
    font-size: small;
}