/* ----- HEADER ----- */ 

body>header {
    display: flex;
    justify-content: space-between;
}

#menu li {
    display: inline-block;
}

/* ----- SECTIONS ----- */

body section {
    background-color: white;
    margin: 2em;
    padding: 20px 0;
}

.container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
    "post create_post";
}

#create_post {  
    grid-area: create_post;
    grid-row-start: 1;
    grid-row-end: 1;
}

#post {
    grid-area: post;
}

#post footer {
    display: flex;
}

/* ----- FOOTER ----- */

body>footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}