html {
    background-color: #F6F1D1;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #CFD7C7;
}

h2 {
    color: #10303A;
}

/*.button {
    background: #10303A;
    padding: 1em 2em;
    border: 0;
    color: white;
    font-weight: bold;
}

.button:hover{
    background: #70A9A1;
}

.logInWindow {
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.5);
}

.logInForm {
    background-color: #CFD7C7;
    margin: 10% auto;
    padding: 20px;
    height: 70%;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.closeBtn{
    color: gray;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: black;
    text-decoration:none;
    cursor:pointer;
}*/


/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Change styles for extra small screens */
@media screen and (max-width: 300px) {
    
}